venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

# Fichiers data volumineux à exclure (mais on garde les CSV)
data/raw/*.zip
data/raw/*.tar.gz
data/processed/*.zip
*.parquet

models/*
!models/.gitkeep
*.pkl
*.joblib
*.h5

.DS_Store
Thumbs.db
desktop.ini

*.log
*.env
.env

.idea/
.vscode/
*.code-workspace
